.filter-panel {
}

.filter-item {
  flex: 1 1 210px;
}

.filter-item--active {
  backdrop-filter: blur(10px) saturate(800%);
}

.filter-item__header {
}

.filter-item__body {
}

.filter-item__title {
}

/* TESTING: temporary */
.filter-item__current-value {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  background-color: var(--col-bg);
  color: var(--col-accent-active);
}

.filter-item__checkbox {
  width: var(--space-md);
  height: var(--space-md);
  cursor: pointer;
}

.filter-item__popularity-range {
  appearance: none;
  background: white;

  width: 100px;
  height: 0.5rem;
  border-radius: 1rem;
}

.filter-item__popularity-range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--col-accent-active);
  cursor: pointer;
}

.filter-item__select {
  border-radius: var(--border-radius);
  padding: calc(var(--space-sm) / 2) var(--space-sm);
  cursor: pointer;
}
.filter-item__option {
  text-align: center;
}
