/* SEMANTICS */
.main {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  max-width: 100%;
}

.header {
}
.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
.article {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.footer {
}

.h1 {
}
.h2 {
}
.h3 {
}
.h4 {
}

.p {
  font-size: 1rem;
}
.small {
  opacity: 0.6;
}
.strong {
}

.link {
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    color: var(--col-accent-active);
  }
}
.button {
  background-color: var(--col-accent);
  color: var(--col-bg);
  border-radius: var(--border-radius);
  padding: 0.8rem 1rem;
  font-weight: bold;

  &:hover,
  &:focus {
    background-color: var(--col-accent-active);
  }
}
.play-pause-button {
  background-color: transparent;
  color: var(--text-col);
  opacity: 0.8;
  font-size: 1.3rem;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
.input {
}
.checkbox {
  width: var(--space-md);
  height: var(--space-md);
}
.range {
}
.image {
}
.avatar {
  border-radius: 50%;

  & .placeholder {
    margin-left: var(--space-lg);
    width: 45px;
    height: 45px;
    border: 3px solid var(--col-text);
    border-radius: 50%;
    opacity: 0.7;
    text-align: center;
    align-content: center;
    overflow: hidden;
  }
}

.list {
}
.dl {
  display: inline-flex;
  gap: var(--space-sm);

  & span {
    display: inline-flex;
    gap: var(--space-sm);

    & dd {
      font-weight: bold;
      color: var(--col-accent);
    }
  }
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}
.table {
  border-collapse: collapse;
  max-width: 100%;

  & tr {
    border-bottom: 1px solid var(--col-card-bg);
  }

  & th,
  & td {
    padding: var(--space-sm);
  }

  & td {
    vertical-align: top;
  }

  & th {
    text-align: left;
    text-transform: uppercase;
    vertical-align: baseline;

    & button {
      color: var(--col-text);
      background-color: transparent;
      text-align: inherit;
      text-transform: inherit;

      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;

      &:hover {
        color: var(--col-accent-active);
      }

      & div {
        display: inline-flex;
        flex-flow: column nowrap;
        padding-right: var(--space-sm);

        & :first-child {
          margin-bottom: -6px;
        }
        & :last-child {
          margin-top: -6px;
        }
      }
    }
  }
}

/* COMPONENT CLASSES */
.paper {
  background-color: var(--col-card-bg);
  border-radius: var(--border-radius);

  padding: 1rem;
}
.spinner {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 3px solid;
  border-color: #dedede;
  border-right-color: #000000;
  animation: spinner-d3wgkg 1s infinite linear;
}
@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

/* UTILITY CLASSES */
.paper-spacing-sm {
}
.paper-spacing-md {
}
.paper-spacing-lg {
}
.gap-sm {
  gap: var(--space-sm);
}
.gap-md {
  gap: var(--space-md);
}
.gap-lg {
  gap: var(--space-lg);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-between {
  justify-content: space-between;
  align-items: center;
}
