/* DEFAULT + RESET */
:root {
  color-scheme: light dark;

  --col-text: light-dark(#f0f0f0, #000000);
  --col-bg: light-dark(#000000, #f0f0f0);
  --col-accent: #10d673;
  --col-accent-active: #23f58c;
  --col-card-bg: #f0f0f019;

  --app-width: 992px;
  --border-radius: 1rem;

  --space-sm: 0.8rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  color: var(--col-text);
  background: var(--col-bg);
  scroll-behavior: smooth;
  transition: all 0.18ms ease-out;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 100%;
  max-width: var(--app-width);
  min-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-lg) var(--space-md);
}

a {
  color: var(--col-accent);
  font-weight: normal;
}

input,
button {
  appearance: unset;
  border: unset;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 576px) {
}
@media (min-width: 577px) and (max-width: 992px) {
}
@media (min-width: 993px) {
}
