/* DEFAULT + RESET */
:root {
  color-scheme: light dark;

  --col-text: light-dark(#000000, #f0f0f0);
  --col-bg: light-dark(#f0f0f0, #000000);
  --col-accent: light-dark(#0cb661d9, #2de97bd9);
  --col-accent-active: light-dark(#0cb661, #2de97b);
  --col-card-bg: light-dark(#0f0f0f0f, #f0f0f020);

  --app-width: 992px;
  --border-radius: 1rem;

  --space-sm: 0.8rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
}
::selection {
  color: light-dark(black, white);
  background-color: light-dark(#00eb4e2d, #4fdb7e62);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  color: var(--col-text);
  background: var(--col-bg);
  scroll-behavior: smooth;
  transition: all 0.18ms ease-out;

  background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 0%) 0%,
    hsl(114deg 53% 4%) 30%,
    hsl(114deg 53% 4%) 60%,
    hsl(0deg 0% 0%) 100%
  );
}
@media (prefers-color-scheme: light) {
  html {
    background-image: linear-gradient(
      0deg,
      hsl(0deg 0% 100%) 0%,
      hsl(108deg 28% 95%) 30%,
      hsl(108deg 28% 95%) 60%,
      hsl(0deg 0% 100%) 100%
    );
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 100%;
  max-width: var(--app-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-lg) var(--space-md);
}

a {
  color: var(--col-accent);
  font-weight: bold;
}

input,
button {
  border: unset;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 576px) {
}
@media (min-width: 577px) and (max-width: 992px) {
}
@media (min-width: 993px) {
}
