.flx-rw {
  display: flex;
  flex-direction: row;
}
.flx-cl {
  display: flex;
  flex-direction: column;
}
.flx-btw {
  justify-content: space-between;
  align-items: center;
}
.flx-w {
  flx-w: wrap;
}
.flx-nw {
  flx-w: nowrap;
}
.flx-ctr {
  align-items: center;
}

.gp-sm {
  gap: var(--space-sm);
}
.gp-md {
  gap: var(--space-md);
}
.gp-lg {
  gap: var(--space-lg);
}
